{% extends "base.html" %}

{% block title %}Welcome to BrowseKasten{% endblock %}

{% block content %}
<div class = "card" >
    <div class="card-header">
        <h1>Welcome to NoteDown</h1>
        <h3>Zettelkasten with NoteDown</h3>
    </div>

        {% if not request.user.is_authenticated %}
            <div class = "card card-horizontal">
                <a class = "btn btn2" href="{% url 'login' %}">Get Started</a>
                <a class = "btn" href="{% url 'register' %}">Create Account</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'dashboard' %}">Go to Dashboard</a>
            </div>
        {% endif %}
</div>
{% endblock %}
