{% extends "base.html" %}
{% block title %}Password Reset Email{% endblock %}
{% block content %}
        <div class="card>">
            <div class="card-header">
                <h1 >Password Reset Email</h1>
                <div>
                    <p>Someone asked for password reset for email {{ email }}. Follow the link below:</p>
                    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="btn btn-primary">Reset Password</a></p>
                    <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
                </div>
            </div>
        </div>
{% endblock %}