.editor-tab{
    height: 100%;
    
    cursor: pointer;

    display: flex;
    align-items: center;
    padding: 0 var(--spacing-2);

    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
    color: var(--text-primary);

    background-color: var(--page-bg);
    border-right: 0.2px solid var(--border-light);
}

.editor-tabs{
    width: 100%;
    list-style: none;
    
    padding : 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.editor-tab.active {
    background-color: var(--card-bg);
    color: var(--text-primary);
}


.editor-tab-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    max-width: 100px;           /* Set your desired fixed width */
    font-size: var(--font-size-xs);
}

.editor-tab-close {
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-0-5);
    margin-left: var(--spacing-0-5);
}

.editor-tab-close:hover {
    background-color: var(--border-light-inv);
    border-radius: var(--radius-base);
}