.ide-container {
    width: 100%;
    height: 100%;
    display : flex;
}

.file-manager-container {
    width : 310px;
    min-width : 10px;
    height: 100%;
}

.resizer{
    width: 4px;
    height: 100%;
    background-color: var(--border-medium);
    cursor: ew-resize;
    user-select: none;
    flex-shrink: 0;
}

.resizer:hover {
    background-color: var(--border-light);
}

.editor-container {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

