

<div id = "file-manager" class="file-manager">
    <div class="folder">
        <div class="folder-bar">
            <button title="add file" class="btn" id="add_button">➕</button>
        </div>
        <div id = "folder-header" class="folder-header" data-type="folder" data-id="files">
            <span class="folder-icon">📁</span>
            <span class="collapse-icon">▼</span>
            <span class="folder-name">Files</span>
        </div>  
        
        <div class="folder-content" id="file-manager-column">
            {% for zettel in zettels %}
            <div class="file" data-type="file" data-id="{{ zettel.id }}">
                {% if zettel.is_public %}
                    <span class="file-icon">📄</span>
                {% else %}
                    <span class="file-icon">🔒</span>
                {% endif %}
                <span class="file-name">{{ zettel.title }}</span>
            </div>
            {% endfor %}

            <div id="singleRightClickMenu" class = "rightClickMenu">
                <ul>
                    <li><button id = "singleRightClickMenu_rename_button">Rename</button></li>
                    <li><button id = "singleRightClickMenu_duplicate_button">Duplicate</button></li>
                    <li><button id = "singleRightClickMenu_delete_button" class="delete">Delete</button></li>
                    <li><button id = "singleRightClickMenu_privacy_settings_button">Privacy Settings</button></li>
                </ul>
            </div>
            <div id="multipleRightClickMenu" class = "rightClickMenu">
                <ul>
                    <li><button id = "multipleRightClickMenu_delete_button" class="delete">Delete All</button></li>
                    <li><button id = "multipleRightClickMenu_make_public_button">Make All Public</button></li>
                    <li><button id = "multipleRightClickMenu_make_private_button">Make All Private</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>


