{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BrowseKasten - Your Personal Image Management System">
    <meta name="theme-color" content="#1a472a">
    <title>{% block title %}{% endblock %} - BrowseKasten</title>
    <link href="{% static "css/base.css" %}?v=1" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}?v=1" rel="stylesheet">
    <link href="{% static "css/buttons.css" %}?v=1" rel="stylesheet">
    <link href="{% static "css/hero.css" %}?v=1" rel="stylesheet">
    <link href="{% static "css/form.css" %}?v=1" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- Navigation Menu -->
    <nav>
        <div class="container">
            <a href="/">BrowseKasten</a>    
            {% if request.user.is_authenticated %}
            <ul>
                <li {% if section == "zettelkasten" %}class="selected"{% endif %}>
                    <a href="{% url "zettelkasten:editor" %}">Zettelkasten</a>
                </li>
                <li {% if section == "zettelkasten" %}class="selected"{% endif %}>
                    <a href="{% url "blog:blog" %}">Blog</a>
                </li>
                <li {% if section == "zettelkasten" %}class="selected"{% endif %}>
                    <a href="{% url "graph:network" %}">Network</a>
                </li>
                
            </ul>
            {% endif %}
            <div>
                {% if request.user.is_authenticated %}
                    <span>Hello {{ request.user.first_name|default:request.user.username }}</span>
                    <form action="{% url "logout" %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                {% else %}
                    <div class="auth-buttons">
                        <a href="{% url "login" %}" class="btn btn-primary">Log in</a>
                        <a href="{% url "register" %}" class="btn btn-primary">Register</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>BrowseKasten. All rights reserved.</p>
        </div>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html> 